
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@500;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
}

section{
    display: flex;
    width: 500px;
    height: 50vh;
    background-color: white;
    margin: 100px 500px;
    border-radius: 0 10px 10px 0;
}

.imageProduct{
    background:url(./images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.informationProduct{
    width: 35%;
    margin: 20px;
    color: gray;
}
.informationProduct>p{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    color: gray;
    margin-bottom: 4px;
}

.titlePerfume{
    font-family: 'Fraunces', serif;
    color: black;
}